################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/React/v15
/.vs/React/DesignTimeBuild
